<a href="https://colab.research.google.com/github/juanepstein99/DI_Bootcamp/blob/main/Week7/Day6/DailyChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Daily Challenge: Data Handling and Analysis in Python**

Your Task


* Download and import the Data Science Job Salary dataset.
* Normalize the 'salary' column using Min-Max normalization which scales all salary values between 0 and 1.
* Implement dimensionality reduction like Principal Component Analysis (PCA) or t-SNE to reduce the number of features (columns) in the dataset.
*  Group the dataset by the 'experience_level' column and calculate the average and median salary for each experience level (e.g., Junior, Mid-level, Senior).

In [2]:
import pandas as pd

# Download and import the Data Science Job Salary dataset.
df = pd.read_csv('datascience_salaries.csv')

df.head()

# Normalize the 'salary' column using Min-Max normalization which scales all salary values between 0 and 1.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df['salary_normalized'] = scaler.fit_transform(df[['salary']])

df[['salary', 'salary_normalized']].head()

# Implement dimensionality reduction like Principal Component Analysis (PCA) or t-SNE to reduce the number of features (columns) in the dataset.
from sklearn.decomposition import PCA

# Select numeric columns only
numeric_df = df.select_dtypes(include=['int64', 'float64'])

# Apply PCA
pca = PCA(n_components=2)
pca_components = pca.fit_transform(numeric_df)

# Create DataFrame with PCA results
pca_df = pd.DataFrame(pca_components, columns=['PC1', 'PC2'])

pca_df.head()

# Group the dataset by the 'experience_level' column and calculate the average and median salary for each experience level (e.g., Junior, Mid-level, Senior).
salary_by_experience = df.groupby('experience_level')['salary'].agg(['mean', 'median'])

salary_by_experience

                          mean   median
experience_level
Entry             36111.111111  30000.0
Executive         76076.923077  46000.0
Mid               51786.885246  51000.0
Senior            75088.033012  68000.0