<a href="https://colab.research.google.com/github/juanepstein99/DI_Bootcamp/blob/main/Week7/Day4/ExercisesXP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ðŸŒŸ Exercise 1: Identifying Data Types**

Below are various data sources.

Identify whether each one is an example of structured or unstructured data.

* A company's financial reports stored in an Excel file.
â†’ Structured data
* Photographs uploaded to a social media platform.
â†’ Unstructured data
* A collection of news articles on a website.
â†’ Unstructured data
* Inventory data in a relational database.
â†’ Structured data
* Recorded interviews from a market research study.
â†’ Unstructured data

**ðŸŒŸ Exercise 2: Transformation Exercise**

For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

* A series of blog posts about travel experiences.

The text from the blog posts can be analyzed to extract basic information such as destination and activities. This information can then be organized into a table to make it easier to analyze.

* Audio recordings of customer service calls.

The audio can be converted into text using transcription tools. After that, important details like the customer issue can be stored in a structured format.

* Handwritten notes from a brainstorming session.

The handwritten notes can be scanned and converted into text. The ideas can then be organized into categories in a table.

* A video tutorial on cooking.

The audio from the video can be transcribed into text. The cooking steps can then be organized in order in a structured format.

**ðŸŒŸ Exercise 3 : Import a file from Kaggle**

Note: This dataset was originally sourced from Kaggle, but for easier access, it has been made available on GitHub.

ðŸ‘‰ Please download the dataset directly from the GitHub repository to use it in this project.
* Import the train dataset. Use the train.csv file.
* Print the first few rows of the DataFrame.

In [9]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**ðŸŒŸ Exercise 4: Importing a CSV File**

Use the Iris Dataset CSV.

* Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
* Import the CSV file using Pandas.
* Display the first five rows of the dataset.

In [11]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

**ðŸŒŸ Exercise 5 : Export a dataframe to excel format and JSON format.**

* Create a simple dataframe.
* Export the dataframe to an excel file.
* Export the dataframe to a JSON file.

In [15]:
# Create a simple dataframe.
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

df = pd.DataFrame(data)
df

# Export the dataframe to an excel file.
df.to_excel('sample_data.xlsx', index=False)

# Export the dataframe to a JSON file.
df.to_json('sample_data.json')

**ðŸŒŸ Exercise 6: Reading JSON Data**

Use a sample JSON dataset

* Import the JSON data from the provided URL.
* Use Pandas to read the JSON data.
* Display the first five entries of the data.

In [19]:
# Import the JSON data from the provided URL.
# Use Pandas to read the JSON data.
df = pd.read_json('posts.json')

# Display the first five entries of the data.
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...